# .gitignore for DS-Capstone-Movielens
# Files to exclude from git 
# Becky Johnson / Github - Yowza63

# R files
.Rproj.user
.Ruserdata
.Rhistory
.RData
*.Rproj

# Data files which are large and can be recreated using the DS-Capstone-Movielens-Data.R file
*.rds
ml-10M100K/

# Test files & drafts
*test*.*
*draft*.*
*temp*.*

# Word files that describe the project plan and any "to do" items
*.docx

# Scratch Pad with code I'm saving
Scratch-Pad.R

# Add the 
**/.DS_Store

# An old file used to independently create the datasets
DS-Capstone-Movielens-Data.R

# Log files
*.log

# Output files
*.html
*.pdf
